h1 {
  font-size: 70px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  font-family: Kanit;
}

.front {
  margin-left: 5%;
}

ion-grid {
  margin-top: 20px;
}

.entire {
  background: linear-gradient(0deg, #FFFFFF 50%, #D5D0CD 50%);
}
